@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


@import url("global.css");
@import url(button\ conexion.css);
@import url("header.css");
@import url("bloc.css");
@import url("hero1.css");
@import url(footer.css);
@import url(section2.css);
@import url("responcive.css");
@import url(product.css);

:root {
    --roboto: "Roboto", sans-serif;
    --open-sans: "Open Sans", sans-serif;

    --primary-color: #fdfdfda6;
    --secondary-color: #000 ;

    --gray-15: #262626;
    --gray-36: #5c5c5c;
    --gray-100: #888888;

}

